

html,body {
    background-image: url("./assets/bus-stop-pedestrian-scenery-digital-art-uhdpaper.com-4K-8.1362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h2 {
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.increment-decrement {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}

#increment-btn {
    background: #673AB7;
}

#decrement-btn {
    background: #E91E63;
}

#save-btn {
    background: darkgreen;
    align-self: center;
}

#resetButton {
    background: darkred;
}

#resetSave {
    background: darkred;
}
